.dashboard-card {
    background: var(--branco);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex: 1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.dashboard-card h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--cinza-escuro);
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}