:root {
    --color-white: #FFF;
    --color-black: #222222;
    --color-red: #870C0E;
    --color-orange: #D46B0F;
    --color-gray: #acacac;
    --color-light-gray: #F8F8F8;
    --color-dark-orange: #d4470f;
    --color-light-red: #fcbbbb;
    --color-green: #2c9125;
    --color-light-green: #c8f5c8;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.9) 39.73%, rgba(183, 13, 7, 0.99) 103.87%);
}

.martel-sans {
    font-family: "Martel Sans", sans-serif;
    line-height: 1em;
}

.montserrat-alternates {
    font-family: "Montserrat Alternates", sans-serif;
}

.div-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-cadastro-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2em;
    gap: 4em;
    border-radius: 1em;
    background-color: var(--color-white);

    position: relative;
    overflow: hidden;
    width: 55vw;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    font-family: "Martel Sans", sans-serif;
    line-height: 1em;
    font-size: 0.9em;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-black);
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--color-gray);
    border-radius: 0.4em;
    box-sizing: border-box;
    color: var(--color-black);
    background-color: var(--color-light-gray);
}

.input-group input:focus {
    outline: none;
    border-color: var(--color-orange);
}

.input-senha {
    position: relative;
    display: flex;
    align-items: center;
}

.input-senha .icon {
    position: absolute;
    right: 0.5em;
    font-size: 24px;
    width: 1em;
    color: var(--color-gray);
}

.input-senha .icon:hover {
    cursor: pointer;
    color: var(--color-orange);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.buttons-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    font-family: "Martel Sans", sans-serif;
    line-height: 1em;
    margin-bottom: 0.5em;
}

.card-convite {
    background: linear-gradient(155deg, var(--color-orange) 8.1%, var(--color-red) 88.32%);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    border-radius: 0.8em;
    text-align: center;
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.left {
    left: 0;
    right: auto;
}

.card-convite.move-left {
    transform: translateX(-101%);
}

.card-convite.move-left h1,
.card-convite.move-left p {
    opacity: 0;
}

.card-convite h1 {
    transition: opacity 0.25s ease-in-out;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.card-convite p {
    transition: opacity 0.25s ease-in-out;
    font-size: 1em;
}

.convite-button {
    background-color: var(--color-white);
    color: var(--color-orange);
    width: 15em;
}

.convite-button:hover {
    transform: scale(1.03);
}

.mensagens {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Martel Sans", sans-serif;
    font-size: 0.9em;
    width: 24em;
    margin: 1em;
    height: fit-content;
}

.mensagem {
    padding: 10px;
    border-radius: 0.5em;
    margin-bottom: 1em;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    font-family: "Martel Sans", sans-serif;
    font-size: 1em;
    
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.mensagem.error {
    border: 1.5px solid var(--color-red);
    color: var(--color-red);
    background-color: var(--color-light-red);
}

.mensagem.success {
    border: 1.5px solid var(--color-green);
    color: var(--color-green);
    background-color: var(--color-light-green);
}

.register-button {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.register-button:hover {
    background-color: var(--color-dark-orange);
}

.links {
    font-size: 0.8em;
    font-family: "Martel Sans", sans-serif;
    text-align: center;
    width: 100%;
    align-self: center;
}

.links a {
    color: var(--color-orange);
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
    color: var(--color-dark-orange);
}