:root {
    --color-white: #FFF;
    --color-black: #222222;
    --color-red: #870C0E;
    --color-orange: #D46B0F;
    --color-gray: #787878;
    --color-light-gray: #F8F8F8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-cadastro-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2em;
    gap: 4em;
    border-radius: 1em;
    background-color: var(--color-white);
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-black);
    font-weight: bold;
}

.input-group input {
    width: 22em;
    padding: 10px;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--color-black);
    background-color: var(--color-light-gray);
}

.input-group input:focus {
    outline: none;
    border-color: var(--color-orange);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.buttons-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.login-button {
    background-color: var(--color-red);
    color: var(--color-white);
}

.login-button:hover {
    background-color: var(--color-orange);
    transform: scale(1.03);
}

.register-button {
    background-color: var(--color-gray);
    color: var(--color-white);
}

.register-button.main {
    background-color: var(--color-orange);
}

.register-button.main:hover {
    background-color: var(--color-red);
}

.register-button:not(.main):hover {
    background-color: var(--color-red);
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    color: var(--color-gray);
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.back-button:hover {
    color: var(--color-red);
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2700c5;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 1000;
  pointer-events: none;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(-20px);
}