@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;700&family=Montserrat+Alternates:wght@400;600;700;800&display=swap');

:root {
    --laranja: #D46B0F;
    --vermelho: #870C0E;
    --cinza-escuro: #222222;
    --cinza-claro: #ecececb1;
    --branco: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none !important;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    outline: none !important;
    box-shadow: none !important;
}

input::-webkit-validation-bubble,
input::-webkit-validation-bubble-message,
input::-webkit-validation-bubble-arrow,
input::-webkit-validation-bubble-arrow-clipper,
input::-webkit-validation-bubble-heading,
input::-webkit-validation-bubble-body {
    display: none !important;
}

input[required]:invalid,
input[required]:focus:invalid {
    box-shadow: none !important;
    outline: none !important;
}

form {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    font-family: 'Martel Sans', sans-serif;
    background: var(--cinza-escuro);
    color: var(--branco);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

.menu {
    display: flex;
    gap: 28px;
}

.menu li {
    list-style: none;
}

.actions {
    display: flex;
    gap: 12px;
}